.header-burger {
  display: flex;
  justify-content: space-between;
}

.footer-img-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
.header-img {
  width: 100px;
  height: 100px;
}

.footer-img {
  height: 100px;
  width: 100px;
}

.img-text-container {
  max-width: 200px;
}
